label{
    color: black;
    font-weight: bold;
    text-align: center;
}

.form-group{
    text-align: center
}
.form-group > label{
    color: rgb(230, 0, 0) ;
}
.form-control {
    width: 30%;
    margin: auto;
    color: rgb(230, 0, 0);
}
.btn-primary{
    margin: auto;
    background-color: rgb(230, 0, 0);
    border: 1px solid rgb(230, 0, 0);
}
.btn-primary:hover{
    margin: auto;
    background-color: rgb(230, 0, 0);
    border: 1px solid rgb(230, 0, 0);
}

form{
    margin-top: 7%;
    text-align: center;
}
